@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background-color: #000000;
  color: #ffffff;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}